farm-stack-course/venv
.env
venv

node_modules/
public-archive/
__pycache__/
**/__pycache__/
.DS_Store/
.vite

*.pyc
# Local Netlify folder
.netlify

prompt*
ecommerce*
commands.txt
tasks.txt
file_contents.txt